h2{
  text-align: center;
}

body {
	font-family: 'Roboto', sans-serif;
}

label {
  display: block;
  margin-top: 1rem;
  margin-bottom: 10px;
}

fieldset {
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding: 25px;
	border-width: 1px;
}

a:visited {
	text-decoration: none;
	color: #1976d2;
}

a {
	text-decoration: none;
}

.title {
	display: flex;
	align-items: center;
	justify-content: center;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

/* FORM STYLE */
form button{
  margin-bottom: 2rem !important;
  padding: 0.3rem 1.2rem !important;
  font-size: 2rem !important;
  font-weight: bold !important;
  border-radius: 15px !important;
  background-color: rgb(167, 201, 167) !important;
  text-shadow: 0 0 1px gray, 0 0 1px gray, 0 0 1px gray, 0 0 1px gray;
}

.employee-infos {
	margin-bottom: 15px;
}

.employee-adress {
	margin-top: 10px;
}

.MuiTextField-root{
  padding: 1rem !important;
}
.MuiInputLabel-formControl{
  padding: 0 1rem !important;
}

.react-datepicker-popper{
  z-index: 2 !important;
}

#create-employee{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* MODAL */
.modal-container{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;

}
.modal-container .modal-text-container {
  width: 300px;
  height: 300px;
  background-color: white;
  position: relative;
  box-shadow: 5px 5px 0 rgb(167, 201, 167);
  border-radius: 10px;
  z-index: 101;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-container .modal-bg{
  position: fixed;
  z-index: 99;
  background-color: rgba(0,0,0,.5);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
.modal-container .modal-text-container p {
  text-align: center;
  padding: 1rem;
  font-size: 2rem;
  font-weight: bold;
  color: green;
}
.modal-close-button{
  position: absolute;
  right: -10px;
  top: -10px;
  background-color: red;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

/* ag grid custom css */
.ag-theme-alpine{
  width: 90% !important;
  height: 600px !important;
}
#table-header{
  background-color: rgb(170, 204, 170);
  padding: 1rem;
  display: flex;
  justify-content: start;
  align-items: center;
}
#table-header .title-header select{
  margin-left: 5px;
}
#table-header input{
  margin: 0 50px;
}